@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

@import url("http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather");

/*http://www.colorcombos.com/color-schemes/6544/ColorCombo6544.html*/

/*General*/
*{
	margin: 0 auto;
	padding: none;
}

li, a{
	list-style-type: none;
	text-decoration: none;
}
.verticalCenter{

 	position: relative;
  	top: 50%;
 	transform: translateY(-50%);
}

/*Navbar*/
nav {

	background-color: $brown;
	width: 100%;
	position: fixed;
	height: 75px;
	z-index: 100;

	h1 , p {
		float: left;
		font-style: Georgia;
	}
	h1 {
		padding-left: 10%;
		padding-top: 15px;
		font-size: 36px;
	}
}

/*Animation for my name*/
.dance{
	animation: upDown 10s linear 3s infinite alternate;
}

@keyframes upDown {
    0%   { opacity: 1}
    25%  {opacity: .6;}
    50%  {opacity: .4}
    75%  {opacity: .2}
    100% {opacity: 0}
}
#internalLinks{

	@extend .verticalCenter;
	float: right;
	width: 50%;

	a {
		float: left;
		padding: 10px;
		background-color: $red;
		border-radius: 25%;
		color: white;

	}
	a :hover {
		background-color: $orange;
	}

}

/*Section Rules*/
#AlternatingSections{
	display: block;

}
.section{
	overflow: hidden;
	background-color: $grey;
	@include heightAndWidth(700px, 100%);
}

#Section1{
	@extend .section;
	background: url(../images/forest.jpg);
	background-size: 100%;
}

.BackgroundCircle{
	@extend .verticalCenter;
	border-radius: 50%;
	border: 3px solid black;
	overflow: visible;

	margin: 0 auto;
}
.BackgroundCircleOuter_yellow{
	@extend .BackgroundCircle;
	@include heightAndWidth(100%, 80%);
	background-color: $yellow;
	
 }
.BackgroundCircleOuter_red{
	@extend .BackgroundCircleOuter_yellow;
	background-color: $red;
 }

.BackgroundCircleInner{
	@extend .BackgroundCircle;
	background-color: white;
	@include heightAndWidth(600px, 75%);
}

/*Footer Rules*/
#footer {
	@include heightAndWidth(100px, 100%);
	background-color: $brown;
	display: block;
}
#footerImages{
	display: inline-block;
	float: right;
	width: 20%;

	img{
	@include heightAndWidth(45px, 45px);
	border-radius: 10px;
	}
}

/*Section 1 Content*/

#Section1ColumnContainer{
	@extend .verticalCenter;
	height: 50%;
	padding-left: 50px;
	padding-top: 50px;
	display: inline-block;

	#leftCol, #rightCol{
		@include heightAndWidth(200px, 300px);
		display: inline-block;
		padding: 10px;
	}
	

    h3{
    	color: $red;
    	padding: 10px;
    }
}

/*Section 2 Content*/

#ResumeAndProjects{
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 30px;
}
#parrot_div{
	position: relative;
	padding-top: 60px;
	@include heightAndWidth(400px, 400px);
	margin: 0 auto;
}
#parrot_image{
	position: relative;
	@include heightAndWidth(100%, 85%);
	border-radius: 25%;
}

#backgroundForModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    @include heightAndWidth(100%, 100%);
    background-color: black;
    overflow: scroll;
    opacity: .9;
    z-index: 1000;
}
#modalBox{
    background-color: white;
    border-radius: 10px;
    top: 0%; left: 15%; bottom: 10%; 
    overflow: scroll;
    display: none;
    @include heightAndWidth(100%, 70%);
    position: fixed;
    z-index: 1000;
}

/*Section 3 Content*/
#CircleWhiteS3{
	border-radius: 0%;
	height: 450px;
}
#CircleYellowS3{
	overflow: hidden;
}
#Hobbies h1 {
	text-align: center;
	padding: 15px;
}
#Hobbies{
	@include heightAndWidth(700px, 100%);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 25%;
	p {
		padding-top: 5px;
		padding-bottom: 5px; 
		font-size: 14px;
	}
}

/*Section 4 Content*/
#LinksToOtherSites{
	@include heightAndWidth(400px, 800px);
	text-align: left;
	padding-left: 100px;
	padding-top: 100px;
	h1{
		font-size: 24px;
		padding-bottom: 20px;
	}
}
#silk{
	@include heightAndWidth(200px, 200px);
	border-radius: 10px;
}

/*Section 5 And Carousel*/
#quotes {
  width: 400px;
  overflow: hidden;
  float: left;
  left: 25%;

  @extend .verticalCenter;

  h1 {
  	text-align: center;
  	position: relative;
  }

  ul {
	width: 2800px;
	padding-top: 50px;

	li{
		@include heightAndWidth(300px, 400px);
		text-align: center;
		float: left;
	}
  }
}

#pauseButton{
	padding-top: 250px;
	padding-right: 100px;
	position: relative;
	}
